extends layout

block content 
    include header.jade
    div.login
        h2.login-header Forgot Password
        p.info.header-info 
            span No worries! We will send you a link right away :)
        div.login-container
            form#login(action="/api/forgotpasswd/sendlink" method="post")
                p.email
                    label(for="email") Email
                    input(name="email",type="email",placeholder="Email",required="", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
                    span.error.hide Whoops! Invalid Email!
                p.submit    
                    input(type="submit", value="Send me the email link now")

    include footer.jade
