extends layout

block content 
    include header.jade
    div.login(style="margin-bottom: 60px;")
        p
            span.hide.error(id="global-error")
        h2.login-header Get started with your team account
        div.login-container
            form#login(action="/api/signup" method="post")
                p.name
                    label(for="name") Name
                    input(name="name", type="text", placeholder="Name", required="")
                    span.error.hide Name is required!
                p.email
                    label(for="email") Email
                    input(name="email",type="email",placeholder="Email",required="", pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$")
                    span.error.hide Whoops! Invalid Email!
                p.company
                    label(for="company") Company
                    input(name="company", type="text", placeholder="Company", required="")
                    span.error.hide Company name is required!
                p.password
                    label(for="password") Password
                    input(name="password",type="password", placeholder="Password", pattern=".{8,}" required="")
                    span.error.hide Whoops! Invalid Password pattern
                    span.info 8 characters minimum
                p
                    span.error-submit.hide Whoops! Invalid Password pattern
                    input(type="submit", value="Sign up")
                p
                    input(name="plan", type="hidden", id="plantype")
                    span.error.hide Company name is required!
            p.message.center.hide
                span.info Check your email and click on the activation link
            
            script.
                (function() {
                    var queryParam = function () {
                        var s = window.location.search.substring(1),
                            p = s.split('&'),
                            parsed = {};
                        p.forEach(function(d) { var x = d.split('='); parsed[x[0]] = x[1]; });
                        return function (key) { return parsed[key]; }; 
                    }(),
                    capturePlan = function() {
                        document.getElementById('plantype').value = queryParam('plan');
                    },
                    showError = function() {
                        var msg = queryParam('error');
                        if (msg && msg.length) {
                            var elem = document.getElementById('global-error');
                            elem.innerText = window.decodeURIComponent(msg);
                            elem.classList.remove('hide');
                        }
                    };
    
                    capturePlan();
                    showError(); 
                }());

    include footer.jade
